.background{
		background: url("../img/cadeaux/Mockup1.jpg");
		background-repeat: no-repeat;
		background-size: 1380px 800px;
		background-position: center;
		opacity: 1.75;
		padding-top: 50%;
		background-attachment: fixed;
		

}
/*end container*/
/* start case 1 */
.case1{
		width:100%;
		height:auto;

}
.carre1{
		/*background:rgba(0,0,0,0.3);*/
		background:white;
		left:30%;
		right:30%;
		top:400px;
		padding: 5%;
		position:absolute;
		color:#FFF;
		text-align: center;
		font-size:2vw;
		z-index:+1000;

}
.border{
		margin-left: -60px;
		margin-right: -60px;
		margin-top: -60px;
		margin-right: -60px;
		margin-bottom: -60px;
		border:3px solid #E21C21;
}
.border h1{
		font-size: 40px;
		line-height: 1.4em;
		text-align: center;
		color: #0436B3;
}
.border h3{
		font-size: 15px;
		line-height: 1.4em;
		text-align: center;
		color: #0436B3;
		letter-spacing: 3px;
}
.border p{
	 	border: 1px solid #E21C21;
	 	margin-left: 100px;
		margin-right: 100px;
}

/*end case1*/

/* ****************case 02  start *************** */

.case2{

		width: 100%;
		color: white;
}

#button1 p{
    text-align: center;
    color: white;
    font-size: 12pt;
}

.parti{
		background-color: white;
		width:100%;
		height: 850px;
		
}
.parti h1{
		color: black;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		color: #0436B3;
		top: 10px;
		
}

.col-md-4 p{
		text-align: center;
	 	color: #183e67;
	 	font-family: 'Montserrat', sans-serif;
	 	text-transform: uppercase;
}

.case2 figure p {
	color: #183e67;
}

/* **************** case 03 start ************* */
.case3{

		background:#0545E6;
		width: 100%;
		height: 350px;
		
}
.parti02 {
		width: 100%;
		height: 350px;


}
.col-md-12  h1{

		color: white;
		text-align: center;
		font-size: 25px;
		margin-top: 10px;

	
}
.col-md-12 p{

		line-height: 25px;
		margin-top: 10px;
		margin-left: 240px;
		margin-right: 240px;
}
.line{
		margin-left: 240px;
		margin-right: 240px;
		margin-top: 30px;



}
/*
.lire nav ul{
		list-style-type: none;
}
.lire nav ul li{
		display: inline;
		padding: 20px;



}*/


/* ****************************case 04 start ******************* */


.case4{

	background: url("../img/cadeaux/bac.jpg");
		background-repeat: no-repeat;
		background-size:1400px 700px;
		background-position: center bottom;
		opacity: 1.75;
		padding-top: 40%;
		background-attachment: fixed;
		
}
.case4{
		width:100%;
		top: 300px;
		height:auto;


}

/* **********************case 5 start *************** */
.case5{

		width: 100%;
		color: white;
}
.parti2{
	background-color: white;
		width:100%;
		height: 450px;
		color: black;
		margin-top: 25px;
		text-align: center;
		
}
.parti2 h1{
		color: #183e67;
}
.parti2 p{
		color: #183e67;
		font-size: 30px;
}

.box{
		margin-left: 450px;
		margin-right: 450px;


}

.box1{
		margin-left: -60px;
		margin-right: 5px;
		margin-top: -3px;
		margin-right: -5px;
		margin-bottom: -60px;
		border:3px solid green;
		padding: 10px;
}

.box2{
	margin-left: -60px;
		margin-right: -3px;
		margin-top: 75px;
		margin-right: -60px;
		margin-bottom: -60px;
		border:3px solid green;
		padding: 10px;
}
.box3{
	margin-left: -60px;
		margin-right: -3px;
		margin-top: 75px;
		margin-right: -60px;
		margin-bottom: -60px;
		border:3px solid green;
		padding: 10px;
}
.box4{
	margin-left: -60px;
		margin-right: -3px;
		margin-top: 75px;
		margin-right: -60px;
		margin-bottom: -60px;
		border:3px solid green;
		padding: 40px;
}
.box5{
	margin-left: -60px;
		margin-right: -3px;
		margin-top: 75px;
		margin-right: -60px;
		margin-bottom: -60px;
		border:3px solid green;
		padding: 10px;

}


/* ***************************** case 6 start *************** */

.case6{
		width: 100%;	
		margin-top: 825px;

}



/* for media query starting here reduce ...... */


@media (max-width:351px) {
	.border{
		display: none;
	}

	#footer{
		display: none;
	}
	.case3{
		display: none;
	}
	.parti02{

		display: none;
	}

	.case5 .pari2 h1{
		font-size: 2px;
	}
	
}
/*
@media (max-width: 351px) {

}
@media (max-width: 760px) {

}
@media (max-width: 960px) {

}
@media (max-width: 110px) {

}*/

.view {
    position: relative;
    width: 100%;
}

.img-thumbnail {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.view:hover .img-thumbnail {
  opacity: 0.5;
}

.view:hover .middle {
  opacity: 1;
}

.text {
  background-color: #183e67;
  color: white;
  font-size: 16px;
  padding: 8px 28px;
}

.middle .text a {
	text-decoration: none;
	color: white;
}

/*Menu vertical*/
element.style {
    top: -208px;
    bottom: 0px;
    right: 76px;
    position: fixed;
    margin: auto;
    z-index: 50;
    width: 123px;
    height: 84px;
}

/*.style-ih1tlgxxmenuContainer.style-ih1tlgxx_orientation-right .style-ih1tlgxx_item .style-ih1tlgxx_link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.style-ih1tlgxxmenuContainer .style-ih1tlgxx_item .style-ih1tlgxx_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    width: 100%;
    cursor: default;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    pointer-events: none;
}


.style-ih1tlgxxmenuContainer .style-ih1tlgxx_item .style-ih1tlgxx_link .style-ih1tlgxx_symbol {
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
    fill: transparent;
    stroke: rgba(94, 93, 93, 1);
    stroke-width: 4px;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 1;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {
    list-style: none;
}*/


.case3 .parti02 {
	background-color: #183e67;
}

.col-md-6{
	height:0px;
}
