body{
 font-family: 'Helvetica';
}

.panier{
    right: 0;
    bottom: 17%;
    background-color: white;
    border: 5px solid #183e67;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #183e67;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    /*transform:rotate(-90deg);
    -webkit-transform-origin: 50%  51%;*/
}

div.panier:hover{
    color: white;
    background-color: #183e67;
}

div.panier:hover a{
    color: white;
    text-decoration: none;
}

.panier p{
    padding: 10px 50px 10px;
    margin: 0;
}

.panier a{
    text-decoration: none;
    color: #183e67;
}