body{
    font-family: Helvetica;
}

#center .menu_guesthouse{
    display: inline;
    text-align: center;
    color: grey;
    font-size: 150%;
    list-style: none;
}
.guesthouse_active{
    color: #183e67;
}
#center ul li{
    text-align: center;
}
.menu_guesthouse li{
    margin: 15px;
    display: inline;
}

#center {
    text-align: center;
    top: 20px;
}

.grande_div{
        width: 75%;
        margin: 0 auto;
        /*background-color: #eeeeee;*/
        margin-bottom: 20px;
    }
    
    .img_act{
        width: 50%;
        float: left;
        background-color: #eeeeee;
    }
    
    .img_act img{
        width: 100%;
    }
    
    .desc_act{
        width: 50%;
        float: left;
        color: #183e67;
        background-color: #eeeeee;
        text-align: center;
        vertical-align: middle;
    }
    
    .desc_act p{
        margin: 0;
        font-size-adjust: auto;
        font-size: 15px;
        font-family: sans-serif, verdana;
    }
    
    .desc_act > p{
        padding: 10px 15px 10px;
        text-align: justify;
    }
    
    .desc_act h2{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
    }
    
    .desc_act .infos p{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .desc_act input{
        font-weight: bold;
        padding: 10px 25px 10px;
        color: white;
        background-color: #183e67;
        border: none;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .sous_div{
        vertical-align: middle;
        display: inline-block;
    }
    
    .petit_titre{
        width: 75%;
        margin: 0 auto;
    }
    
    .petit_titre h1{
        margin: 0;
        font-size: 40px;
        color: #183e67;
    }
    
    .type_act{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-position:center center;
    }
    
    .type_act a{
        text-decoration: none;
        color: grey;
        /*margin: 0 30px 0;*/
        font-size: 25px;
    }

.type_act input{
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color: white;
    color: red;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.cadre2{
            text-align: center;
    background: #B6BCBB;
}

.cadre1{
    text-align: center;
    background: #D5D4D1;
}

.contourblanc{
    border: 2px solid white;
    
}
