
body{
 font-family: 'Helvetica';
}

.ef0{
    background-image: url(img/chambre.jpg);
    background-size: 100% 100%;
}

.ef1{
    background-image: url(img/activites.jpg);
    background-size: 100% 100%;
}




.bouton_ef{
    /*background: rgba(0,0,0,0.8);*/
    background-color: #183e67;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    padding: 10px 60px 10px;
    margin-top: 10px;
}


.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 500px;
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background: rgba(0,0,0,0.5);
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}

/* Animation delays */
.carousel-caption h3:first-child {
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.carousel-caption input[type=button] {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
