body{
 font-family: 'Helvetica';
}

    table td{
        padding: 10px;
        border: 1px solid #183e67;
    }
    
    table .td1{
        width: 40%;
    }

    table .td2{
        width:20%;
    }

    table .td3{
        width:20%;
    }

    table .td4{
        width:10%;
        text-align:center;
    }

    table .td5{
        width:10%;
        text-align:center;
    }

    table .td6{
        width:10%;
        text-align:center;
    }
    
    table .td7{
        width: 20%;
    }
    
    table .td8{
        width: 5%;
        text-align: center;
    }
    
    table .no_border > td{
        border: none;
    }
    
    table{
        border-collapse: collapse;
    }

    table a{
        text-decoration: none;
        font-weight: bold;
        color: #183e67;
    }
    
    table .td_titre{
        text-align: center;
        font-weight: bold;
        border: 5px solid #183e67;
        color: #183e67;
    }
    
    table .titre_colonnes > td{
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
        color: #183e67;
    }
    
    table .sous_titre{
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: #183e67;
    }

    .payment_btn{
        width: 90%;
        margin: auto;
    }
    
    .payment_btn .submit_btn{
        float: right;
        border: none;
        color: white;
        background-color: #183e67;
        padding: 10px 30px 10px;
        width: 25%;
        border: 3px solid #183e67;
        outline: none;
        cursor: pointer;
        font-weight: bold;
    }
    
    .payment_btn a:hover .submit_btn{
        color: #183e67;
        background-color: white;
    }

