body{
 font-family: 'Helvetica';
}

.bloc_1{
        width: 35%;
        background-color: #eeeeee;
        display: table-cell;
        text-align: center;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }
    
    .bloc_3{
        width: 35%;
        background-color: #eeeeee;
        display: table-cell;
        text-align: center;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }

    .bloc_2{
        width: 55%;
        background-color: #eeeeee;
        display: table-cell;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }
    
    .bloc_4{
        width: 55%;
        background-color: #eeeeee;
        display: table-cell;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }

    .bloc_1 p, .bloc_2 p, .bloc_3 p, .bloc_4 p{
        padding: 10px;
    }
    
    .bloc_2 img, .bloc_4 img{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .img_reduc{
        height: 60%;
    }
    
    .decale_gauche{
        color: #183e67;
    }
    
    .decale_droite{
        color: #183e67;
        /*float: right;*/
    }
    
    .container_1{
        margin: 0 auto;
        width: 85%;

    }
    
    .container_2{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    
    .container_3{
        width: 85%;
        margin: 0 auto;
    }
    
    .container_4{
        padding: 10px;
        width: 85%;
        border-radius: 5px;
        margin: 0 auto;

    }

.container_4 button{
    padding: 10px 20px 10px;
    width: 45%;
    margin: 0 10px 0;
    background-color: #183e67;
    color: white;
    border: none;
    font-weight: bold;
}

.container_4 button:hover{
    background-color: black;
}
    
    .img_70{
        width: 95%;
        border-radius: 5px;
    }
    
    .media-body a{
        color: #183e67;
    }

    .cadreavis{
        position: absolute;
      display: inline-block;
border: 3px solid #183e67;
left:52.5%;
  width: 40%;
  height: auto ;
  display:inline-block; 

}

.cadrecalendrier{
    position: absolute;
    display: inline-block;
   border: 5px solid #183e67;
  width: 40%;
  height: auto;

}

/*.photo{
    display: inline-block;
    border-style: solid;
  border-color: #f6546a;

}*/

.photo img{
  height:150px;
}

.photo{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 5px;
    padding: 0px;
    position: relative;
    text-align: center;
    cursor: default;
    overflow: hidden
}

.photo .overlay { /*hover (les barres)*/
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 2.5px solid white;
  border-top: 2.5px solid white;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.photo:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: white;
}

.photo:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  color: white;
}

.photo p { /*Réglage du texte*/
  color: white;
  opacity: 0;
  /*margin-top: 15%;*/
  font-size: 20px;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.photo:hover p{
  opacity: 1;
  color: white;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.photo2{
    position: absolute;
    display: inline-block;
    border-style: solid;
  border-color: #f6546a;
  width: 15%;
  height: auto;
  left:25.5%; 
}

.photo3{
    position: absolute;
    display: inline-block; 
    border-style: solid;
  border-color: #f6546a;
  width: 15%;
  height: auto;
  left:42.5%;   
}

.photo4{
    position: absolute;
    display: inline-block;  
    border-style: solid;
  border-color: #f6546a;
  width: 15%;
  height: auto;
  left:59.5%;  
}

.photo5{
     position: absolute;
    display: inline-block;  
    border-style: solid;
  border-color: #f6546a;
  width: 15%;
  height: auto;
  left:76.5%;
}


.carre11{ 

  position: absolute;
  width:17%;
  background-color: #183e67 ;
  left:9%;
  color: #FFffff;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-right: 10%;
    margin-top:3%;

}

.carre222{

  position: absolute;
  width:17%;
  background-color: #F42222;
  left:65%;
  color: #ffffff;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-left: 10%;
    margin-top:-18%;

}

.carre33{

  position: absolute;
  width:17%;
  background-color: #183e67;
  left:9%;
  color: #FFFFFF;
  padding-bottom: 4.5%;
  padding-top: 4.5%;
  margin-right: 10%;
  margin-top:10%;

}

.texte11{
    display: inline-block;
    position: relative;
    text-align: justify;
    width: 35%;
    height: 300px; 
    left:10%;
}

.texte222{
    display: inline-block;
    position: absolute;
    text-align: justify;
    width: 34%;
    height: 300px;
    left:9%;


}

.texte33{
    display: inline-block;
    position: relative;
    text-align: justify;
    width: 35%;
    height: 300px;
    left:-3%;

  
}

.photo11{
  display: inline-block;
  position: relative;
  background-image: url(img/members/isa&jeje.jpg);
  background-size: 100% 100%;
  width: 25%;
  height:250px ;
  left: 15%;

}

.photo222{
  display: inline-block;
  position: relative;
  background-image: url(img/members/oxaxa.jpg);
  background-size: 100% 100%;
  width: 25%;
  height: 250px;
  left:10%;

}

.photo33{
  display: inline-block;
  position: absolute;
  background-image: url(img/members/parara.jpg);
  background-size: 100% 100%;
  width: 25%;
  height: 250px;
  left:67%;
  margin-top: 7%
  
}


.photobis img{
  height:150px;
}

.photobis{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 5px;
    padding: 0px;
    position: relative;
    text-align: center;
    cursor: default;
    overflow: hidden
}

.photobis .overlay { /*hover (les barres)*/
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 2.5px solid white;
  border-top: 2.5px solid white;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.photobis:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: white;
}

.photobis:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  color: white;
}

.photobis p { /*Réglage du texte*/
  color: white;
  padding: 1em 0;
  opacity: 0;
  /*margin-top: 15%;*/
  font-size: 11px;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.photobis:hover p{
  opacity: 1;
  color: white;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



.btnabo{

}