.bloc_1{
        width: 35%;
        background-color: #eeeeee;
        display: table-cell;
        text-align: center;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }
    
    .bloc_3{
        width: 35%;
        background-color: #eeeeee;
        display: table-cell;
        text-align: center;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }

    .bloc_2{
        width: 55%;
        background-color: #eeeeee;
        display: table-cell;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }
    
    .bloc_4{
        width: 55%;
        background-color: #eeeeee;
        display: table-cell;
        float: left;
        margin: 0 10px 0;
        border-radius: 5px;
        color: #183e67;
        position:relative;
        font-family: "Verdana", Times, sans-serif;
    }

    .bloc_1 p, .bloc_2 p, .bloc_3 p, .bloc_4 p{
        padding: 10px;
    }
    
    .bloc_2 img, .bloc_4 img{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .img_reduc{
        height: 60%;
    }
    
    .decale_gauche{
        color: #183e67;
    }
    
    .decale_droite{
        color: #183e67;
        /*float: right;*/
    }
    
    .container_1{
        margin: 0 auto;
        width: 85%;
    }
    
    .container_2{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    
    .container_3{
        width: 85%;
        margin: 0 auto;
    }
    
    .container_4{
        padding: 10px;
        width: 85%;
        border-radius: 5px;
        margin: 0 auto;
    }

.container_4 button{
    padding: 10px 20px 10px;
    width: 45%;
    margin: 0 10px 0;
    background-color: #183e67;
    color: white;
    border: none;
    font-weight: bold;
}

.container_4 button:hover{
    background-color: black;
}
    
    .img_70{
        width: 95%;
        border-radius: 5px;
    }
    
    .media-body a{
        color: #183e67;
    }
